{% load static %} 
{# Компонент: Фоновая карусель изображений Отображает плавно меняющиеся фоновые изображения Используется на страницах форм НКО #}

<div class="fixed inset-0 z-0">
  <div id="background-carousel" class="relative w-full h-full">
    {# Фоновое изображение 1 #}
    <div
      class="absolute inset-0 bg-cover bg-center bg-no-repeat blur opacity-70 transition-opacity duration-1000"
      style="background-image: url('{% static 'images/background1.jpg' %}')"
    ></div>

    {# Фоновое изображение 2 #}
    <div
      class="absolute inset-0 bg-cover bg-center bg-no-repeat blur opacity-0 transition-opacity duration-1000"
      style="background-image: url('{% static 'images/background2.jpg' %}')"
    ></div>

    {# Фоновое изображение 3 #}
    <div
      class="absolute inset-0 bg-cover bg-center bg-no-repeat blur opacity-0 transition-opacity duration-1000"
      style="background-image: url('{% static 'images/background3.jpg' %}')"
    ></div>

    {# Фоновое изображение 4 #}
    <div
      class="absolute inset-0 bg-cover bg-center bg-no-repeat blur opacity-0 transition-opacity duration-1000"
      style="background-image: url('{% static 'images/background4.jpg' %}')"
    ></div>

    {# Фоновое изображение 5 #}
    <div
      class="absolute inset-0 bg-cover bg-center bg-no-repeat blur opacity-0 transition-opacity duration-1000"
      style="background-image: url('{% static 'images/background5.jpg' %}')"
    ></div>
  </div>

  {# Затемняющий оверлей #}
  <div class="absolute inset-0 bg-black bg-opacity-30 dark:bg-opacity-50"></div>
</div>
